<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles/index.css">
    <script src="/static/scripts/index.js"></script>
    <title>Merssy</title>
</head>
<body>
<header>
    <h1>Bienvenido Merssy</h1>
    <div class="logo-img">
        <img src="/static/img/logoM.jpg" alt="logoM">
    </div>
</header>
<div class="Menu">
    <nav class="sidebar">
        <ul>
            <li><a href="#" onclick="showContent('inicio')">Inicio</a></li>
            <li><a href="#" onclick="showContent('inventario')">Inventario</a></li>
            <li><a href="#" onclick="showContent('servicios')">Servicios</a></li>
            <li><a href="#" onclick="showContent('horarios')">Horarios</a></li>
            <li><a href="#" onclick="showContent('personal')">Personal</a></li>
            <li><a href="#" onclick="showContent('nominas')">Nominas</a></li>
        </ul>
    </nav>
</div>
<main class="contenido">
    <section id="inicio">
        <img src="/static/img/salonM.jpg" alt="">
    </section>
    <section id="inventario">
        <h2>Inventario</h2>
        <div class="inventario">
            <table>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
                <tr>
                    <td>Shampoo</td>
                    <td>10</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td>Crema</td>
                    <td>5</td>
                    <td>$50</td>
                </tr>
                <tr>
                    <td>Maquillaje</td>
                    <td>15</td>
                    <td>$200</td>
                </tr>
            </table>
        </div>
    </section>
    <section id="servicios">
        <h2>Servicios</h2>
        <div class="servicios">
            <table>
                <tr>
                    <th>Servicio</th>
                    <th>Precio</th>
                </tr>
                <tr>
                    <td>Corte de cabello</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td>Maquillaje</td>
                    <td>$200</td>
                </tr>
                <tr>
                    <td>Manicure</td>
                    <td>$150</td>
                </tr>
            </table>
        </div>
    </section>
    <section id="horarios">
        <h2>Horarios</h2>
        <div class="horarios">
            <table>
                <tr>
                    <th>Empleado</th>
                    <th>Horario</th>
                </tr>
                <tr>
                    <td>Empleado 1</td>
                    <td>8:00 - 16:00</td>
                </tr>
                <tr>
                    <td>Empleado 2</td>
                    <td>9:00 - 17:00</td>
                </tr>
                <tr>
                    <td>Empleado 3</td>
                    <td>10:00 - 18:00</td>
                </tr>
            </table>
        </div>
    </section>
    <section id="personal">
        <h2>Personal</h2>
        <div class="personal">
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Telefono</th>
                    <th>Email</th>
                </tr>
                <tr>
                    <td>Empleado 1</td>
                    <td>Apellido 1</td>
                    <td>Apellido 2</td>
                    <td>1234567890</td>
                </tr>
                <tr>
                    <td>Empleado 2</td>
                    <td>Apellido 1</td>
                    <td>Apellido 2</td>
                    <td>1234567890</td>
                </tr>
            </table>
        </div>
    </section>
    <section id="nominas">
        <h2>Nominas</h2>
        <div class="nominas">
            <table>
                <tr>
                    <th>Empleado</th>
                    <th>Salario</th>
                </tr>
                <tr>
                    <td>Empleado 1</td>
                    <td>$1000</td>
                </tr>
                <tr>
                    <td>Empleado 2</td>
                    <td>$2000</td>
                </tr>
                <tr>
                    <td>Empleado 3</td>
                    <td>$1500</td>
                </tr>
            </table>
        </div>
    </section>
</main>

</body>
</html>